<h1>{{ userinputcategory.name }}</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

{% if userinputcategory.category.all.count > 0 %}
<!-- <h1>{{ category }}</h1> -->
<form method="post">
  {% csrf_token %}
  {% for order in userinputcategory.category.all %}
  <input type="radio" name="order" id="order{{ forloop.counter }}" value="{{ order.id }}">
  <label for="order{{ forloop.counter }}">{{ order.session }}</label><br>
  <audio src="{{ order.audio }}">

  </audio>
  {% endfor %}
  <input type="submit" value="Delete">
</form>

<!-- <ol>
  {% for item in category %}
  <li>{{ category.session }}</li>
  {% endfor %}
</ol> -->
{% else %}
<p>Currently there are no {{ userinputcategory.name }}</p>
{% endif %}
