.bg-primary {
  background-color: #0097a7 !important;
}
.btn-primary {
  background-color: #0097a7 !important;
}
.btn-outline-primary {
  color: #0097a7 !important;
  border-color: #0097a7 !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
}
